/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.sections {
  width: 70%;
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  text-align: center;
}
@media (max-width: 500px) {
  .sections {
    padding-top: 20%;
    margin: 0 auto;
  }
}
.sectionH2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.sectionP {
  font-size: 1.2rem;
}
nav {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  vertical-align: top;
  height: 100%;
  width: 20%;
  font-size: 2rem;
  padding-left: 5%;
  position: fixed;
  background: linear-gradient(#5E42A6, #8871c2);
}
@media (max-width: 500px) {
  nav {
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
    height: 5%;
    width: 100%;
    font-size: 1.2rem;
  }
}
nav h1 {
  font-size: 2rem;
  color: black;
  margin-bottom: 100px;
}
@media (max-width: 500px) {
  nav h1 {
    display: none;
  }
}
nav a {
  text-decoration: none;
  padding-top: 20px;
  width: 100%;
  color: white;
}
nav a:hover {
  color: #2D3142;
  padding-left: 25px;
  border-left: 4px solid #B8D0EB;
  transition: 0.5s all linear;
}
@media (max-width: 500px) {
  nav a:hover {
    padding-left: 0px;
    border: none;
  }
}
html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}
html body {
  background: #2D3142;
}
html body .container {
  height: 100%;
}
html body .container #home {
  width: 70%;
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  background: #2D3142;
  text-align: center;
}
@media (max-width: 500px) {
  html body .container #home {
    padding-top: 20%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  html body .container #home {
    padding-top: 20%;
  }
}
html body .container #home h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
html body .container #home p {
  font-size: 1.2rem;
}
html body .container #features {
  width: 70%;
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  background: #2D3142;
  text-align: center;
}
@media (max-width: 500px) {
  html body .container #features {
    padding-top: 20%;
    margin: 0 auto;
  }
}
html body .container #features h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
html body .container #features p {
  font-size: 1.2rem;
}
html body .container #features .app-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
html body .container #features ul {
  font-size: 1.5rem;
  margin-top: 5%;
  line-height: 1.5;
  text-align: left;
  list-style-type: circle;
  list-style-position: inside;
}
html body .container #about-us {
  width: 70%;
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  background: #2D3142;
  text-align: center;
}
@media (max-width: 500px) {
  html body .container #about-us {
    padding-top: 20%;
    margin: 0 auto;
  }
}
html body .container #about-us h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
html body .container #about-us p {
  font-size: 1.2rem;
}
html body .container #about-us .about-us-text {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  html body .container #about-us .about-us-text {
    flex-direction: column;
  }
}
html body .container #about-us .about-us-text img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 10%;
}
html body .container footer {
  text-align: center;
  background: #2D3142;
  color: white;
}
