/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.sections {
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  text-align: center;
}
@media (max-width: 500px) {
  .sections {
    padding-top: 20%;
    margin: 0 auto;
  }
}
.sectionH2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.sectionP {
  font-size: 1.2rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100%;
  width: 20%;
  overflow: auto;
  font-size: 2rem;
  position: fixed;
  background-image: linear-gradient(to top right, #483a94, #8e70da);
}
@media (max-width: 500px) {
  nav {
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    height: 5%;
    width: 100%;
    font-size: 1.2rem;
  }
}
nav a {
  text-decoration: none;
  padding-top: 20px;
  color: white;
}
nav a:hover {
  color: #2D3142;
  padding-left: 25px;
  border-left: 4px solid #B8D0EB;
  transition: 0.4s all linear;
}
@media (max-width: 500px) {
  nav a:hover {
    padding-left: 0px;
    border: none;
  }
}
nav img {
  width: 100%;
  display: inline-block;
}
@media (max-width: 500px) {
  nav img {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}
html body {
  background: #2D3142;
}
html body .container {
  height: 100%;
}
html body .container #home {
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  background: #2D3142;
  text-align: center;
}
@media (max-width: 500px) {
  html body .container #home {
    padding-top: 20%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  html body .container #home {
    padding-top: 20%;
  }
}
html body .container #home h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
html body .container #home p {
  font-size: 1.2rem;
}
html body .container #home img {
  position: relative;
  width: 80%;
  margin-top: 3%;
}
html body .container #features {
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  background: #2D3142;
  text-align: center;
  height: auto;
}
@media (max-width: 500px) {
  html body .container #features {
    padding-top: 20%;
    margin: 0 auto;
  }
}
html body .container #features h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  margin-top: 2%;
}
html body .container #features p {
  font-size: 1.2rem;
}
html body .container #features .feature-text {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}
@media (max-width: 500px) {
  html body .container #features .feature-text {
    display: block;
  }
}
html body .container #features .feature-text .app-image {
  width: 50%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  html body .container #features .feature-text .app-image {
    margin-top: 10%;
    width: 100%;
  }
}
html body .container #features .feature-text ul {
  font-size: 1.5rem;
  margin-top: 5%;
  margin-left: 5%;
  line-height: 1.5;
  width: 40%;
  text-align: left;
  list-style-type: circle;
  list-style-position: inside;
}
@media (max-width: 500px) {
  html body .container #features .feature-text ul {
    text-align: left;
    width: 90%;
  }
}
html body .container #about-us {
  padding-top: 5%;
  margin-left: 25%;
  height: 100%;
  color: #B8D0EB;
  background: #2D3142;
  text-align: center;
  display: inline-block;
}
@media (max-width: 500px) {
  html body .container #about-us {
    padding-top: 20%;
    margin: 0 auto;
  }
}
html body .container #about-us h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
html body .container #about-us p {
  font-size: 1.2rem;
}
html body .container #about-us .about-us-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  html body .container #about-us .about-us-text {
    display: block;
  }
}
html body .container #about-us .about-us-text img {
  max-width: 100%;
  border-radius: 50%;
  padding: 10%;
}
html body .container footer {
  text-align: right;
  background: #2D3142;
  color: white;
}
@media (max-width: 500px) {
  html body .container footer {
    display: block;
    text-align: center;
    margin-top: 5%;
  }
}
.home-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column wrap;
  height: 100%;
  background-image: url("https://liveparker301.com/wp-content/uploads/2018/03/18-CADV-021-Landing-Page-Background-R2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 500px) {
  .home-container {
    background-image: linear-gradient(to top, #2c1c8a, #b7afcc);
  }
}
.home-container header {
  background: white;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: 50%;
  width: 50%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
@media (max-width: 500px) {
  .home-container header {
    flex-flow: column nowrap;
    width: 70%;
  }
}
.home-container header .image-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: #483a94;
}
@media (max-width: 500px) {
  .home-container header .image-container {
    width: 100%;
  }
}
.home-container header .image-container img {
  width: 75%;
  height: 75%;
}
@media (max-width: 500px) {
  .home-container header .image-container img {
    width: 80%;
    height: 85%;
  }
}
.home-container header .image-container p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
.home-container header .text-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column wrap;
}
@media (max-width: 500px) {
  .home-container header .text-container {
    width: 100%;
  }
}
.home-container header .text-container h1 {
  font-size: 1.8rem;
  color: #2D3142;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
}
.home-container header .text-container p {
  font-size: 1.3rem;
  text-align: center;
  color: #2D3142;
}
.home-container header .text-container a {
  text-decoration: none;
  align-self: center;
  color: #2D3142;
  padding: 5px 10px 5px 10px;
  border: 2px solid #2D3142;
  border-radius: 15px;
  margin-top: 10%;
}
.home-container header .text-container a:hover {
  background: #2D3142;
  color: white;
  transition: 0.6s all linear;
}
