html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    body {
        background:@Gunmetal;
        .container {
            height: 100%;
            #home {
                .sections();
                background: @Gunmetal;
                text-align: center;
                @media @mobile {
                    padding-top: 20%;
                }
                h2 {
                .sectionH2();
                }
                p {
                .sectionP();
                }
            }
            #features {
                .sections();
                background: @Gunmetal;
                text-align: center;
                h2 {
                    .sectionH2();
                }
                p {
                    .sectionP();
                }
                .app-image {
                    max-width: 100%;
                    height: auto;
                    margin: 0 auto;
                }
                .feature-text {
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   @media @mobile {
                       display: block;
                   }
                    ul {
                    font-size: 1.5rem;
                    margin-top: 5%;
                    
                    line-height: 1.5;
                    text-align: left;
                    list-style-type: circle;
                    list-style-position: inside;
                    
                    }
                }
            }
            #about-us {
                .sections();
                background: @Gunmetal;
                text-align: center;
                h2 {
                    .sectionH2();
                }
                p {
                    .sectionP();
                }
                .about-us-text {
                    display: flex;
                    @media @mobile {
                        flex-flow: column nowrap;
                    }
                    justify-content: space-around;
                    img {
                        max-width: 100%;
                        border-radius: 50%;
                        padding: 10%;
                    }
                }
            }
            footer {
                text-align: center;
                background: @Gunmetal;
                color: white;
                @media @mobile {
                   margin-top: 100%;
                }
               
            }
        }
    }
}