html {
    scroll-behavior: smooth;
}

body {
    background: @Gunmetal;
    .container {
        height: 100%;
        #home {
            .sections();
            background: @Gunmetal;
            text-align: center;
            @media @mobile {
                padding-top: 60px;
            }
            h2 {
            .sectionH2();
            }
            p {
            .sectionP();
            }
        }
        #features {
            .sections();
            background: @Gunmetal;
            text-align: center;
            h2 {
                .sectionH2();
            }
            p {
                .sectionP();
            }
        }
        #about-us {
            .sections();
            background: @Gunmetal;
            text-align: center;
            h2 {
                .sectionH2();
            }
            p {
                .sectionP();
            }
        }
        footer {
            text-align: center;
            background: @Gunmetal;
            color: white;
        }
    }
}