.sections {
	width: 70%;
    // padding-left: 5%;
    padding-top: 5%;
    @media @mobile {
        padding-top: 15%;
    }
	margin: 0 auto;
    height: 100%;
    color: @PaleAqua;
}

.sectionH2 {
	font-size: 2rem;
    padding-bottom: 2rem;
}

.sectionP {
	font-size: 1.2rem;
}