
    nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    width: 20%;
    overflow: auto;
    font-size: 2rem;
    position: fixed;
    background-image: linear-gradient(to top right, #483a94, rgb(142, 112, 218));
    @media @mobile {
        align-items: flex-start;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        height: 5%;
        width: 100%;
        font-size: 1.2rem;
    }
    a {
        text-decoration: none;
        padding-top: 20px;
        color: white;

        &:hover {
            color: @Gunmetal;
            padding-left: 25px;
            border-left: 4px solid @PaleAqua;
            transition: 0.4s all linear;
            @media @mobile {
                padding-left: 0px;
                border: none;
            }
        }
    }
    img {
        width:100%;
        display: inline-block;
        @media @mobile {
            display: none;
        }
    }
}
