nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    width: 20%;
     overflow: auto;
    font-size: 2rem;
    // padding-left: 5%;
    position: fixed;
    background-image: linear-gradient(to top right, #5E42A6, rgb(174, 143, 253));
    @media @mobile {
        align-items: flex-start;
        justify-content: space-evenly;
        flex-flow: row nowrap;
        height: 5%;
        width: 100%;
        font-size: 1.2rem;
    }
    // h1 {
    //     font-size: 2rem;
    //     color: black;
    //     margin-bottom: 100px;
    //     @media @mobile {
    //         display: none;
    //     }
    // }
    a {
        text-decoration: none;
        padding-top: 20px;
        color: white;

        &:hover {
            color: @Gunmetal;
            padding-left: 25px;
            border-left: 4px solid @PaleAqua;
            transition: 0.4s all linear;
            @media @mobile {
                padding-left: 0px;
                border: none;
            }
        }
    }
    img {
        width:100%;
        display: inline-block;
        @media @mobile {
            display: none;
        }
    }
}